@using Southwind.Entities

@using (var ac = Html.TypeContext<AddressEntity>())
{
    ac.PlaceholderLabels = true;
    if (ac.Value == null)
    {
        ac.Value = new AddressEntity();
    }
    @Html.HiddenRuntimeInfo(ac)
    <fieldset>
        <legend>@(ViewData["Legend"] ?? typeof(AddressEntity).NiceName())</legend>

        <div class="col-sm-12">
            @Html.ValueLine(ac, a => a.Address, a => a.FormGroupStyle = FormGroupStyle.SrOnly)
        </div>
        <div class="row">
            @using (var ac2 = ac.SubContext())
            {
                ac2.LabelColumns = new BsColumn(5);
                <div class="col-sm-6">
                    @Html.ValueLine(ac2, a => a.City)
                    @Html.ValueLine(ac2, a => a.PostalCode)
                </div>
                <div class="col-sm-6">                    
                    @Html.ValueLine(ac2, a => a.Region)
                    @Html.ValueLine(ac2, a => a.Country)
                </div>
            }
        </div>
    </fieldset>
}
