@using Southwind.Entities

@using (var oc = Html.TypeContext<OrderDetailsEntity>())
{
    <div class="form-vertical">
        <div class="row">
            <div class="col-sm-4">
                @Html.EntityLine(oc, o => o.Product, el => {
               el.Create = el.View = el.Find = el.Remove = false;
               el.AttachFunction = Southwind.Web.SouthwindClient.OrderModule["attachProductLine"](el);
           })
            </div>
            <div class="col-sm-2 recalculate">@Html.ValueLine(oc, o => o.UnitPrice)</div>
            <div class="col-sm-1 recalculate">@Html.ValueLine(oc, o => o.Quantity)</div>
            <div class="col-sm-2 recalculate">@Html.ValueLine(oc, o => o.Discount)</div>
            <div class="col-sm-2">@Html.ValueLine(oc, o => o.SubTotalPrice)</div>
        </div>
    </div>
}
