@using Southwind.Entities

<style type="text/css">
.order-lines .sf-repeater-element
{
    padding: 2px 10px;
}
.order-lines .sf-repeater-element legend
{
    float: left;
    margin-right: 10px;
}
</style>

@using (var oc = Html.TypeContext<OrderDN>()) 
{
    <div class="sf-tabs">
        <fieldset id="orderMain">
            <legend>Order</legend>
            <table>
                <tr>
                    <td>
                        @Html.ValueLine(oc, o => o.ShipName)
                        @Html.EntityLine(oc, o => o.Customer, el =>
                        {
                            el.Finding = "{0}.typedFind({1})".Formato(el.ToJS(),
                                new JsFindOptions { FindOptions = new FindOptions(typeof(CustomerDN)) }.ToJS());
                        })
                    </td>
                    <td>
                        @Html.ValueLine(oc, o => o.TotalPrice)
                        @Html.EntityLine(oc, o => o.Employee)
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 0 0 10px">
                        @Html.EmbeddedControl(oc, o => o.ShipAddress, ec => ec.ViewData = new Dictionary<string, object> { { "Legend", Html.PropertyNiceName(() => oc.Value.ShipAddress) } })                 
                    </td>
                    <td style="vertical-align: top; padding: 10px 0 0 10px">
                        @Html.ValueLine(oc, o => o.OrderDate)
	                    @Html.ValueLine(oc, o => o.RequiredDate)
	                    @Html.ValueLine(oc, o => o.ShippedDate)
	                    @Html.EntityCombo(oc, o => o.ShipVia)
                        @Html.ValueLine(oc, o => o.Freight)
                        @Html.ValueLine(oc, o => o.IsLegacy)
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset id="orderDetails">
            <legend>Details</legend>
            @Html.EntityRepeater(oc, o => o.Details)
        </fieldset>
    </div>
}
