@using Southwind.Entities

@using (var pc = Html.TypeContext<PersonDN>())
{    
    @Html.ValueLine(pc, p => p.Corrupt)   
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <div class="form-inline">
                @using (var pc2 = pc.SubContext())
                {
                    pc2.FormGroupStyle = FormGroupStyle.SrOnly;
                    pc2.PlaceholderLabels = true;
                    @Html.ValueLine(pc2, e => e.Title, vl =>
                                        {
                                            vl.ValueHtmlProps["size"] = 4;
                                            vl.LabelText = "Title";
                                        })
                    @Html.ValueLine(pc2, e => e.FirstName)
                    @Html.ValueLine(pc2, e => e.LastName)
                }
            </div>
        </div>
    </div>
 
    @Html.ValueLine(pc, p => p.DateOfBirth)  
    @Html.ValueLine(pc, p => p.Phone)              
    @Html.ValueLine(pc, p => p.Fax)
    @Html.EmbeddedControl(pc, p => p.Address)              
}