@using Signum.Utilities;
@using System.IO;
@using Newtonsoft.Json.Linq;
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    string json = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.json"));
    var webpackAssets = JObject.Parse(json).Properties()
        .ToDictionaryEx(a => a.Name, a => Url.Content("~/dist/" + (string)a.Value["js"]));

    string jsonDll = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.dll.json"));
    var webpackAssetsDll = JObject.Parse(jsonDll).Properties()
        .ToDictionaryEx(a => a.Name, a => Url.Content("~/dist/" + (string)a.Value["js"]));
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="reactDiv"></div>

    <script>
        var __baseUrl = "@Url.Content("~/")";
    </script>
    <script language="javascript" src="@Url.Content("~/dist/es6-promise.auto.min.js")"></script>
    <script language="javascript" src="@Url.Content("~/dist/fetch.js")"></script>
    <script language="javascript" src="@webpackAssetsDll.GetOrThrow("vendor")"></script>
    <script language="javascript" src="@webpackAssets.GetOrThrow("main")"></script>
</body>
</html>
