@using Signum.Utilities

@{
    Func<string, string> lastFile = (pattern) =>
    {
        var files = Directory.GetFiles(Server.MapPath("~/dist/"), pattern);

        var lastEntry = files.WithMax(a => new FileInfo(a).LastWriteTimeUtc);
        
        return Url.Content("~/dist/" + Path.GetFileName(lastEntry));
    };
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrap"></div>
    <div id="footer">
        <div class="container">
            <p class="text-muted">Made by <a href="http://signumsoftware.com/">Signum Software</a>  using <a href="http://signumframework.com/">Signum Framework</a>.</p>
        </div>
    </div>
 

    <div id="reactBody"></div>
    <script>
        var __baseUrl = "@Url.Content("~/").RemoveEnd(1)";

        
    </script>
    <script language="javascript" src="@lastFile("bundle.react.*.js")"></script>
    <script language="javascript" src="@lastFile("bundle.moment.*.js")"></script>
    <script language="javascript" src="@lastFile("bundle.main.*.js")"></script>
</body>
</html>
