@using Signum.Utilities;
@using System.IO;
@using Newtonsoft.Json.Linq;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@{
    //FileNotFoundException??? You need to run 'yarn watch'. Requires:
    //- Node.js: https://nodejs.org/
    //- Yarn: https://yarnpkg.com/en/
    //- NPM Task Runner: https://marketplace.visualstudio.com/items?itemName=MadsKristensen.NPMTaskRunner)
    string json = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.json"));
    var main = (string)JObject.Parse(json).Property("main")!.Value["js"]!;

    string jsonDll = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.dll.json"));
    var vendor = (string)JObject.Parse(jsonDll).Property("vendor")!.Value["js"]!;

    string jsonPolyfills = File.ReadAllText(System.IO.Path.Combine(hostingEnv.WebRootPath, "dist/webpack-assets.polyfills.json"));
    var polyfills = (string)JObject.Parse(jsonPolyfills).Property("polyfills")!.Value["js"]!;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <style>
        html,
        body,
        #reactDiv {
            height: 100%;
        }

        :root {
            --loader-width: 70px;
            --loader-height: 70px;
            --line-width: 3px;
            --animation-duration: 2s;
            --loader-initial-scale: 0.1;
        }

        .center-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%
        }


        @@keyframes momentum {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        .loading-spinner,
        .loading-spinner:before,
        .loading-spinner:after {
            box-sizing: border-box;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .loading-spinner {
            --primary-circle-offset: calc(((var(--loader-width,100px) * 0.2) / 2) - var(--line-width,4px));
            --secondary-circle-offset: calc(((var(--loader-width,100px) * 0.4) / 2) - var(--line-width,4px)); /*- (var(--line-width,4px) * 2)*/
            position: relative;
            width: var(--loader-width, 100px);
            height: var(--loader-height, 100px);
            transform-origin: center center;
            border-radius: 50%;
            border: var(--line-width, 4px) solid rgba(0,0,0,0);
            border-top-color: rgb(79,120,166); /*Color 1*/
            animation: momentum var(--animation-duration, 1s) linear infinite;
        }

            .loading-spinner:before {
                content: "";
                position: absolute;
                transform-origin: center center;
                top: var(--primary-circle-offset,10px);
                left: var(--primary-circle-offset,10px);
                width: calc(var(--loader-width,100px) * 0.8);
                height: calc(var(--loader-height,100px) * 0.8);
                border-radius: 50%;
                border: var(--line-width,4px) solid rgba(0,0,0,0);
                border-top-color: rgb(234,162,37); /*Color 2*/
                opacity: 0.7;
                filter: hue-rotate(3eg);
                animation: momentum calc(var(--animation-duration, 1s) * 2) linear infinite;
            }

            .loading-spinner:after {
                content: "";
                position: absolute;
                top: var(--secondary-circle-offset,20px);
                left: var(--secondary-circle-offset,20px);
                width: calc(var(--loader-width,100px) * 0.6);
                height: calc(var(--loader-height,100px) * 0.6);
                border-radius: 50%;
                transform-origin: center center;
                border: var(--line-width,4px) solid rgba(0,0,0,0);
                border-top-color: rgb(156,159,164); /*Color 3*/
                opacity: 0.3;
                filter: hue-rotate(6eg);
                animation: momentum var(--animation-duration, 1s) linear infinite;
            }
    </style>
</head>
<body>
    <div id="reactDiv">
        <div class="center-container">
            <div class="loading-spinner"></div>
            <h3 style="margin-left: 20px;margin-top: 0;margin-bottom: 0.5rem;color:rgb(156,159,164);font-size: 1.75rem;font-weight: 500;line-height: 1.2;font-family: 'Segoe UI Emoji' , 'Segoe UI Symbol' , 'Noto Color Emoji';">Loading Southwind...</h3>
        </div>
    </div>
    <script>
        var __baseUrl = "@Url.Content("~/")";

        var browser = (function (agent) {
            switch (true) {
                case agent.indexOf("edge") > -1: return "old edge";
                case agent.indexOf("edg") > -1: return "chromium edge";
                case agent.indexOf("opr") > -1 && !!window.opr: return "opera";
                case agent.indexOf("chrome") > -1 && !!window.chrome: return "chrome";
                case agent.indexOf("trident") > -1: return "ie";
                case agent.indexOf("firefox") > -1: return "firefox";
                case agent.indexOf("safari") > -1: return "safari";
                default: return "other";
            }
        })(window.navigator.userAgent.toLowerCase());

        var supportIE = true;
        if (!supportIE && (browser == "old edge" || browser == "ie")) {
            var spinner = document.querySelector("#reactDiv .loading-spinner");
            spinner.parentElement.removeChild(spinner);
            document.querySelector("#reactDiv h3").innerHTML =
                "Southwind is not compatible with your browser (" + browser + "). <br/>"
                + "Please try with <a href='https://www.google.com/chrome/'>Google Chrome</a>, "
                + "<a href='https://www.mozilla.org/en-US/firefox/new/'>Firefox</a> or "
                + "the new <a href='https://www.microsoft.com/en-us/edge'>Microsoft Edge (chromium)</a>.";
        } else {
            const scriptToLoad = [
                "@Url.Content("~/dist/" + polyfills)",
                "@Url.Content("~/dist/" + vendor)",
                "@Url.Content("~/dist/" + main)",
            ];

            if (!(browser == "old edge" || browser == "ie")) {
                scriptToLoad.splice(0, 1);
            }

            function loadNextScript() {
                // gets the first script in the list
                var script = scriptToLoad.shift();
                // all scripts were loaded
                if (!script) return;
                var js = document.createElement('script');
                js.type = 'text/javascript';
                js.src = script;
                js.onload = function () { loadNextScript(); };
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(js, s);
            }

            loadNextScript();
        }
    </script>
</body>
</html>
